﻿@model IEnumerable<Websitebanhang1.Models.Category>

<h2>Category</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>                           
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categories in Model)
        {
            <tr>
                <td>@categories.Name</td>               
                <td>                 
                    <a asp-action="Update" asp-route-id="@categories.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@categories.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
