﻿@model ShoppingCart
@{
    decimal CalculateTotal(decimal price, int quantity)
    {
        return price * quantity;
    }

    decimal total = 0;
}

<h2>Your Cart</h2>
<table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>
            <td>@CalculateTotal(item.Price, item.Quantity)</td>
            <td>
                <a asp-action="RemoveFromCart" asp-route-productId="@item.ProductId" class="btn btn-danger">Remove</a>
            </td>
        </tr>
        total += CalculateTotal(item.Price, item.Quantity);
    }

   
</table>

<div class="text-right">
    <strong>Total:</strong> @total
</div>

<div class="text-right">
    <a asp-action="Checkout" class="btn btn-primary">Checkout</a>
</div>


