﻿@model ChieuT6.Models.Order;
<h2>Order Completed</h2>

<table>
	<tr>
		<th>Date time</th>
		<th>Total</th>
		<th>Address</th>
		<th>Notes</th>
	</tr>
	<tr>
		<td>@Model.OrderDate</td>
		<td>@Model.TotalPrice</td>
		<td>@Model.ShippingAddress</td>
		<td>@Model.Notes</td>

	</tr>

</table>


