﻿
<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        background-color: #f2f2f2; /* Màu nền bảng */
    }

        .table th, .table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            color: #333; /* Màu chữ */
        }

        .table th {
            background-color: blueviolet; /* Màu nền tiêu đề */
        }

        .table tbody tr:hover {
            background-color: rosybrown; /* Màu nền khi di chuột qua hàng */
        }

        .table img {
            max-width: 200px;
        }
</style>

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Actions</th>
            <th>Images</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Category?.Name</td>
                <td>
                    <a asp-action="Display" asp-route-id="@product.Id">View</a> |
                    <a asp-action="Update" asp-route-id="@product.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </td>
                <td>
                    <img src="@product.ImageUrl" alt="Product Image">
                </td>
            </tr>
        }
    </tbody>
</table>