﻿body {
    background: url('../images/download (8).jpg');
    background-size: cover;
    background-position-y: -60px;
}

.row {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-4 {
    max-width: 400px;
    background: rgba(0,0,0,0.8);
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255,0.8);
}

.form-heading {
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    margin-bottom: 30px;
}

.form-floating mb-3 {
    border-bottom: 1px solid #ffffff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}

}

.form-floating .form-control {
    background: transparent;
    border: 0;
    outline: 0;
    flex-grow: 1;
}

    .form-floating .form-control:focus + i {
        color: aqua; /* Change this to match focus color */
    }

.form-floating i {
    position: absolute;
    top: 40%;
    left: -0.01rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: aqua;
    transition: color 0.3s ease-in-out;
}
