﻿@model Websitebanhang1.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Edit Product";
}

<h2>Edit Product</h2>

<form asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Product Image</label>
        <input type="file" asp-for="ImageUrl" class="form-control" id="imageInput" />
        <br />
        <img id="previewImage" style="max-width: 200px;display: none" alt="Image preview" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<script>
     document.getElementById('imageInput').addEventListener('change', function (event){
         var output = document.getElementById('previewImage');
         if (this.files && this.files[0]) {
             var reader = new FileReader();
                
             reader.onload = function (e) {
                 output.src = e.target.result;
                 output.style.display = 'block';//Show the image
             };
             reader.readAsDataURL(this.files[0]);
         }
     });
</script>

